@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">LUIZ MARCELO MOTA</h2>
    <p>Click aqui para ver outro projetos <a href="https://luizmarcelolm.github.io/Portfolio/">Meu portfólio</a>.</p>
</div>
